html{

  background-color: $neutral-color;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.5;
  color: $copy-color;
  height: 100%;

  @media(min-width: 600px){
    font-size:16px;
  }

  @include mq(large){

    font-size: 20px;
  }

}

body {

  @extend %center-element;

}

p{

  @include mq(large) {

    margin-right: 1em;
  }
}

h1{

  font-size: 16px;
  color: white;
  padding: 15px;

}

h2{

  padding-left: 40px;
  color: dimgrey;

}

