//Components //Buttons

button{

  color: white;
  background-color: $primary-color;
  border-style: none;
  margin: 0 auto;
  font-size: 15px;
  padding: .5em 1em;
  @extend %center-element;
  cursor: pointer;

  &:hover{

    background-color: $secondary-color;
  }

}


a{

  text-decoration: none;
  color: $primary-color;

  &:hover{

    color: $secondary-color;
  }
}

