// Variables
$primary-color: #713DA5;
$secondary-color: #838B91;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$copy-color: #333;
$neutral-color: #f7f7f7;

$large: "(min-width: 800px)";
$medium: "(min-width: 600px";


//layout variables

// Misc


// Colors